
    <div class="card border-left-primary shadow h-100 py-2 {{class}} " >
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2" >
                    <div class="text-xm font-weight-bold text-light  text-uppercase mb-1">
                     {{card}}   </div>
                    
                </div>
                <div class="col-auto" >
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
            </div>
            <a class="row">View Details</a>
        </div>
    </div>
